body{
    background-color: rgba(0, 0, 0, 0.637);
}

header{
    width: 100%;
    align-items: center;
    height: 100px;

}
header img{
    height: 4rem;
    margin-top: 1rem;
    margin-right: 1vh; 
    margin-left: 50vh ;
    
}

.container{
    border: solid 1px white;
    margin: 2rem;
    background-color: rgb(0, 0, 0);
    width: 75rem;
    height: 3090px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}
img{
    border-radius: 10px;
}

.reto1{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto1 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto2{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto2 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto3{

    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto3 img{
    margin-top:  2rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto4{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto4 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12.3rem;
}
.reto5{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto5 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12.3rem;
}
.reto6{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto6 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto7{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto7 img{
    margin-top:  2.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto8{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto8 img{
    margin-top:  2rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto9{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto9 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto10{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto10 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto11{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto11 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto12{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto12 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto13{
   
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto13 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto13{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto13 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto14{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto14 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto15{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto15 img{
    margin-top:  2rem;
    margin-left: 0.4rem;
    width: 12.3rem;
}
.reto16{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto16 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto17{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto17 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto18{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto18 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto19{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto19 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto20{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto20 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto1{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto1 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto1{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto1 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}
.reto1{
    height: 13rem;
    width: 13rem;
    background-color: rgb(247, 247, 247);
    margin: 2rem;
    border-radius: 20px;
    box-shadow: 2px 4px rgb(255, 255, 255);
   
  
    
}
.reto1 img{
    margin-top:  0.4rem;
    margin-left: 0.4rem;
    width: 12rem;
}

.button1{
    margin-top: 0.2rem ;
    background-color: black;
    color:white;
    border-radius: 6px;
    border: transparent;
    margin-left:3.2rem ;
    height: 2rem;
}
.button2{
    margin-top: 0.2rem ;
    background-color: black;
    color:white;
    border-radius: 6px;
    border: transparent;
    margin-left:4rem ;
    height: 2rem;
}
.info1{
    
    height: 5rem;
    width: 13rem;
    background-color: rgb(143, 143, 143);
    margin-top: 0%;
    margin-left: 0cm;
    border-radius: 20px;
    color: white;
   
    
    
}
.info1 p{
    margin: 0;
    text-align: center;
}